Back/src/ControleCustos.API/ControleCustos.db
# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
bin/*
obj/*


# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

Back/src/ControleCustos.API/bin/Debug/net5.0/ControleCustos.API.dll
Back/src/ControleCustos.API/bin/Debug/net5.0/ControleCustos.API.pdb
Back/src/ControleCustos.API/bin/Debug/net5.0/ControleCustos.API.StaticWebAssets.xml
Back/src/ControleCustos.API/bin/Debug/net5.0/ControleCustos.Application.dll
Back/src/ControleCustos.API/bin/Debug/net5.0/ControleCustos.Application.pdb
Back/src/ControleCustos.API/bin/Debug/net5.0/ControleCustos.Domain.dll
Back/src/ControleCustos.API/bin/Debug/net5.0/ControleCustos.Domain.pdb
Back/src/ControleCustos.API/bin/Debug/net5.0/ControleCustos.Persistence.dll
Back/src/ControleCustos.API/bin/Debug/net5.0/ControleCustos.Persistence.pdb
Back/src/ControleCustos.API/obj/ControleCustos.API.csproj.nuget.dgspec.json
Back/src/ControleCustos.API/obj/project.assets.json
Back/src/ControleCustos.API/obj/project.nuget.cache
Back/src/ControleCustos.API/obj/Debug/net5.0/ControleCustos.API.assets.cache
Back/src/ControleCustos.API/obj/Debug/net5.0/ControleCustos.API.csproj.AssemblyReference.cache
Back/src/ControleCustos.API/obj/Debug/net5.0/ControleCustos.API.csproj.FileListAbsolute.txt
Back/src/ControleCustos.API/obj/Debug/net5.0/ControleCustos.API.dll
Back/src/ControleCustos.API/obj/Debug/net5.0/ControleCustos.API.GeneratedMSBuildEditorConfig.editorconfig
Back/src/ControleCustos.API/obj/Debug/net5.0/ControleCustos.API.pdb
Back/src/ControleCustos.Application/bin/Debug/net5.0/ControleCustos.Application.dll
Back/src/ControleCustos.Application/bin/Debug/net5.0/ControleCustos.Application.pdb
Back/src/ControleCustos.Application/bin/Debug/net5.0/ControleCustos.Domain.dll
Back/src/ControleCustos.Application/bin/Debug/net5.0/ControleCustos.Domain.pdb
Back/src/ControleCustos.Application/bin/Debug/net5.0/ControleCustos.Persistence.dll
Back/src/ControleCustos.Application/bin/Debug/net5.0/ControleCustos.Persistence.pdb
Back/src/ControleCustos.Application/obj/ControleCustos.Application.csproj.nuget.dgspec.json
Back/src/ControleCustos.Application/obj/project.assets.json
Back/src/ControleCustos.Application/obj/project.nuget.cache
Back/src/ControleCustos.Application/obj/Debug/net5.0/ControleCustos.Application.assets.cache
Back/src/ControleCustos.Application/obj/Debug/net5.0/ControleCustos.Application.csproj.AssemblyReference.cache
Back/src/ControleCustos.Application/obj/Debug/net5.0/ControleCustos.Application.dll
Back/src/ControleCustos.Application/obj/Debug/net5.0/ControleCustos.Application.GeneratedMSBuildEditorConfig.editorconfig
Back/src/ControleCustos.Application/obj/Debug/net5.0/ControleCustos.Application.pdb
Back/src/ControleCustos.Application/obj/Debug/net5.0/ref/ControleCustos.Application.dll
Back/src/ControleCustos.Application/obj/Debug/net5.0/refint/ControleCustos.Application.dll
Back/src/ControleCustos.API/obj/ControleCustos.API.csproj.nuget.dgspec.json
Back/src/ControleCustos.API/obj/project.assets.json
Back/src/ControleCustos.API/obj/project.nuget.cache
Back/src/ControleCustos.API/obj/Debug/net5.0/ControleCustos.API.assets.cache
Back/src/ControleCustos.API/obj/Debug/net5.0/ControleCustos.API.csproj.AssemblyReference.cache
Back/src/ControleCustos.API/obj/Debug/net5.0/ControleCustos.API.csproj.FileListAbsolute.txt
Back/src/ControleCustos.API/obj/Debug/net5.0/ControleCustos.API.dll
Back/src/ControleCustos.API/obj/Debug/net5.0/ControleCustos.API.GeneratedMSBuildEditorConfig.editorconfig
Back/src/ControleCustos.API/obj/Debug/net5.0/ControleCustos.API.pdb
Back/src/ControleCustos.Domain/bin/Debug/net5.0/ControleCustos.Domain.dll
Back/src/ControleCustos.Domain/bin/Debug/net5.0/ControleCustos.Domain.pdb
Back/src/ControleCustos.Domain/obj/ControleCustos.Domain.csproj.nuget.dgspec.json
Back/src/ControleCustos.Domain/obj/project.assets.json
Back/src/ControleCustos.Domain/obj/project.nuget.cache
Back/src/ControleCustos.Domain/obj/Debug/net5.0/ControleCustos.Domain.assets.cache
Back/src/ControleCustos.Domain/obj/Debug/net5.0/ControleCustos.Domain.csproj.AssemblyReference.cache
Back/src/ControleCustos.Domain/obj/Debug/net5.0/ControleCustos.Domain.dll
Back/src/ControleCustos.Domain/obj/Debug/net5.0/ControleCustos.Domain.GeneratedMSBuildEditorConfig.editorconfig
Back/src/ControleCustos.Domain/obj/Debug/net5.0/ControleCustos.Domain.pdb
Back/src/ControleCustos.Persistence/bin/Debug/net5.0/ControleCustos.Domain.dll
Back/src/ControleCustos.Persistence/bin/Debug/net5.0/ControleCustos.Domain.pdb
Back/src/ControleCustos.Persistence/bin/Debug/net5.0/ControleCustos.Persistence.dll
Back/src/ControleCustos.Persistence/bin/Debug/net5.0/ControleCustos.Persistence.pdb
Back/src/ControleCustos.Persistence/obj/ControleCustos.Persistence.csproj.nuget.dgspec.json
Back/src/ControleCustos.Persistence/obj/project.assets.json
Back/src/ControleCustos.Persistence/obj/project.nuget.cache
Back/src/ControleCustos.Persistence/obj/Debug/net5.0/ControleCustos.Persistence.assets.cache
Back/src/ControleCustos.Persistence/obj/Debug/net5.0/ControleCustos.Persistence.csproj.AssemblyReference.cache
Back/src/ControleCustos.Persistence/obj/Debug/net5.0/ControleCustos.Persistence.dll
Back/src/ControleCustos.Persistence/obj/Debug/net5.0/ControleCustos.Persistence.GeneratedMSBuildEditorConfig.editorconfig
Back/src/ControleCustos.Persistence/obj/Debug/net5.0/ControleCustos.Persistence.pdb
