@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css';
@import '../node_modules/@fortawesome/fontawesome-free/css/all.min.css';
@import '../node_modules/ngx-spinner/animations/ball-scale-multiple.css';
@import '../node_modules/ngx-toastr/toastr.css';
@import '../node_modules/bootswatch/dist/Lumen/bootstrap.min.css';

body {
  background-color: rgba(213, 217, 218, .8);
  // overflow: hidden;
}

@media (min-width: 1200px) {

  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1200px;
  }
}

.btn-dark-black {
  color: #fff;
  background-color: #040404;
  border-color: #17a2b8 !important;
}

.btn-dark-black:hover {
  color: #fff;
}

.valorMenorQueZero {
  color: red !important;
  font-weight: bold;
}

.valorMaiorQueZero {
  color: green !important;
  font-weight: bold;
}

.card-header {
  padding: .5rem 1rem;
  margin-bottom: 0;
  background-color: #555;
  border-bottom: 1px solid rgba(0, 0, 0, .125);
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 1);
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-link:not(.disabled):focus,
.nav-tabs .nav-link:not(.disabled):hover {
  padding-bottom: calc(.5rem + 6px);
  border-bottom-color: transparent;
  margin-top: 0;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #fff;
  background-color: rgb(85,85,85);
  border-color: rgb(85,85,85);
}

::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.relative {
  position: relative;
}

.absolute-center {
  position:absolute;
  top: 50%;
  left: 54%;
  transform: translate(-50%, -50%);
}

.text-center{
  text-align: center;
}

.p-doughnut{
  font-weight: bold;
  font-size: 35px;
}
