@import  '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import  '../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css';
@import  '../node_modules/@fortawesome/fontawesome-free/css/all.min.css';
@import '../node_modules/ngx-spinner/animations/ball-scale-multiple.css';
@import '../node_modules/ngx-toastr/toastr.css';
@import '../node_modules/bootswatch/dist/Lumen/bootstrap.min.css';

body{
  background-color: rgba(213, 217, 218, .8);
  overflow: hidden;
}

@media (min-width: 1200px)
{
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1200px;
  }
}

.btn-dark-black {
  color: #fff;
  background-color: #040404;
  border-color: #17a2b8 !important;
}

.btn-dark-black:hover {
  color: #fff;
}


.valorMenorQueZero {
  color: red !important;
  font-weight: bold;
}

.valorMaiorQueZero {
  color: green !important;
  font-weight: bold;
}

.card-header {
  padding: .5rem 1rem;
  margin-bottom: 0;
  background-color: #555;
  border-bottom: 1px solid rgba(0,0,0,.125);
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255,255,255,1);
}

::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
