@import  '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import  '../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css';
@import  '../node_modules/@fortawesome/fontawesome-free/css/all.min.css';
@import '../node_modules/ngx-spinner/animations/ball-scale-multiple.css';
@import '../node_modules/ngx-toastr/toastr.css';
@import '../node_modules/bootswatch/dist/Lumen/bootstrap.min.css';

body{
  background-color: rgba(213, 217, 218, .8);
  overflow: hidden;
}

@media (min-width: 1200px)
{
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1200px;
  }
}

.valorMenorQueZero {
  color: red !important;
  font-weight: bold;
}

.valorMaiorQueZero {
  color: green !important;
  font-weight: bold;
}
