<div class="card rounded shadow-sm p-3">
  <div class="d-flex">
    <div class="flex-fill pr-3">
      <div class="row row-cols-lg g-3 align-items-center me-2">
        <div class="col-md-12">
          <tabset>
            <tab>
              <ng-template tabHeading="">
                <i class="fa-solid fa-chart-area me-2"></i>
                <span>Período</span>
              </ng-template>
              <app-periodo></app-periodo>
            </tab>
            <tab>
              <ng-template tabHeading="">
                <i class="fa-solid fa-chart-area me-2"></i>
                <span>Fornecedor</span>
              </ng-template>
              <app-fornecedor></app-fornecedor>
            </tab>
            <tab>
              <ng-template tabHeading="">
                <i class="fa-solid fa-chart-area me-2"></i>
                <span>Tipo Custo</span>
              </ng-template>
              <app-tipo-custo></app-tipo-custo>
            </tab>
            <tab>
              <ng-template tabHeading="">
                <i class="fa-solid fa-chart-area me-2"></i>
                <span>Tipo Fornecimento</span>
              </ng-template>
              <app-tipo-fornecimento></app-tipo-fornecimento>
            </tab>
          </tabset>
        </div>
      </div>
    </div>
  </div>
</div>
