<div class="card rounded shadow-sm">
  <form [formGroup]="form">
    <div class="p-2">
      <div class="row g-3">
        <div class="form-group col-md-4">
          <label>Nome Fornecedor</label>
          <input
            type="text"
            class="form-control"
            [ngClass]="cssValidator(f.nome)"
            formControlName="nome"
            placeholder=""
          />
          <!-- [(ngModel)]="fornecedor.nome" -->
          <div *ngIf="f.nome.errors?.['required']" class="invalid-feedback">
            <strong>Nome é obrigatório.</strong>
          </div>
        </div>
        <div class="form-group col-md-4">
          <label>Tipo Fornecimento</label>
          <select
            type="text"
            class="form-control"
            [ngClass]="cssValidator(f.tipoFornecimento)"
            formControlName="tipoFornecimento"
          >
            <!-- [(ngModel)]="fornecedor.tipoFornecimento" -->
            <option value="Alimentação">Alimentação</option>
            <option value="Aluguel">Aluguel</option>
            <option value="Cartão Crédito">Cartão Crédito</option>
            <option value="Diversos">Diversos</option>
            <option value="Energia Elétrica">Energia Elétrica</option>
            <option value="Gás">Gás</option>
            <option value="Internet">Internet</option>
            <option value="Investimentos">Investimentos</option>
            <option value="Saneamento Básico">Saneamento Básico</option>
            <option value="Telefonia">Telefonia</option>
            <option value="Tv Assinatura">Tv Assinatura</option>
            <option value="Veículo">Veículo</option>
            <option value="Vestuário">Vestuário</option>
          </select>
          <div
            *ngIf="f.tipoFornecimento.errors?.['required']"
            class="invalid-feedback"
          >
            <strong>Tipo de Custo é obrigatório.</strong>
          </div>
        </div>
        <div class="form-group col-md-4">
          <div class="d-flex float-end m-3">
            <button
              class="btn btn-outline-danger me-auto border"
              (click)="resetForm($event)"
            >
              <i class="fa-solid fa-rectangle-xmark me-1"></i>
              Cancelar
            </button>
            <button
              class="btn btn-success ms-2"
              [disabled]="!form.valid"
              (click)="salvarFornecedor()"
            >
              <i class="fa-solid fa-floppy-disk"></i>
              Salvar
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<div class="card rounded shadow-sm mt-3" *ngIf="modoEditar">
  <div class="p-3">
    <div class="d-flex border-bottom">
      <h2 class="me-auto">Contas do Fornecedor</h2>
      <div>
        <button class="btn btn-outline-primary" (click)="novaConta(true)">
          <i class="fa fa-plus-square my-1"></i>
          <b class="ms-1 d-none d-sm-block">Nova Conta</b>
        </button>
      </div>
    </div>
    <div class="row p-1">
      <table class="table table-striped table-hover">
        <thead class="table-dark">
          <tr style="position: sticky; top: 0">
            <th><i class="fa-solid fa-list-ol"></i></th>
            <th>Descrição</th>
            <th>Tipo Custo</th>
            <th>Data Vencimento</th>
            <th>Data Pagamento</th>
            <th>Dias Atraso</th>
            <th>Valor R$</th>
            <th>Juros R$</th>
            <th>Ano Mês</th>
          </tr>
        </thead>
        <tbody *ngIf="contas && contas.length > 0">
          <tr *ngFor="let conta of contas">
            <td>{{ conta.contaId }}</td>
            <td>{{ conta.descricao }}</td>
            <td>{{ conta.tipoCusto }}</td>
            <td>{{ conta.dataVencimento | DateTimeFormatPipe }}</td>
            <td>{{ conta.dataPagamento | DateTimeFormatPipe }}</td>
            <td
              ngClass="{{ classDiasAtraso(conta.diasAtraso) }}"
              style="text-align: center"
            >
              {{ conta.diasAtraso }}
            </td>
            <td>R$ {{ conta.valor }}</td>
            <td ngClass="{{ classJuros(conta.juros) }}">
              R$ {{ conta.juros }}
            </td>
            <td>{{ conta.anoMes }}</td>
          </tr>
        </tbody>
        <tfoot *ngIf="!contas.length">
          <tr>
            <td colspan="8" class="text-center">
              <h4>Nenhuma conta encontrada</h4>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center mt-2">
  <pagination
    [boundaryLinks]="true"
    [totalItems]="pagination.totalItems"
    [(ngModel)]="pagination.currentPage"
    (pageChanged)="pageChanged($event)"
    pageBtnClass="btn"
    [itemsPerPage]="pagination.itemsPerPage"
    previousText="&lsaquo;"
    nextText="&rsaquo;"
    firstText="&laquo;"
    lastText="&raquo;"
  >
  </pagination>
</div>
