<div class="d-flex align-items-center p-3 my-2 text-black bg-secondary rounded shadow-md">
  <div class="d-flex align-items-center me-auto">
    <i id="icone-titulo" class="{{ iconClass }} me-3" style="font-size: 50px;"></i>
    <div class="lh-1">
      <h2 class="mb-0">
        {{ tituloPagina }}
      </h2>
      <small>{{ subtituloPagina }}</small>
    </div>
  </div>
  <div class="p-3" *ngIf="botaoListar">
    <button class="btn btn-outline-dark" (click)="listar()">
      <i class="fa-solid fa-rectangle-list"></i>
      Listar {{ tituloPagina }}
    </button>
  </div>
</div>
